<ion-content>
  <ion-slides >
    <ion-slide *ngFor="let card of a">
      <div style="padding-block-end: 50px;">
        <ion-row>
          <div>
            <img style="width:250px;"
              src={{card.Image}} />
            <br />
            <h5 style="color: rgb(255, 255, 255);font-size: 22px;"><b>{{card.name}}</b></h5>
          </div>
        </ion-row>
      </div>
    </ion-slide>

    <ion-slide *ngFor="let card of b">
      <div>
        <img style="width:250px;" src={{card.Image}} />
        <a (click)="onclick()">
          <p style="color: rgb(255, 217, 0);font-size: 30px;"><b>
              <u>เริ่มต้นใช้งาน >></u>
            </b></p>
        </a>
      </div>
    </ion-slide>


  </ion-slides>
</ion-content>
